@model Do_An_CNPM.Models.PHONGBAN

@{
    ViewBag.Title = "DetailsCRUD";
}

<h2>DetailsCRUD</h2>

<div>
    <h4>PHONGBAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPhongBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhongBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_PHONGBAN_QUYENHAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_PHONGBAN_QUYENHAN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCRUD", new { id = Model.ID_PHONGBAN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
