@model Do_An_CNPM.Models.Model.ModelCongViec

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm("Details", "CongViec", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <dl class="dl-horizontal">
        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <section id="main-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-title text-center">
                                        <h3>Bạn có muốn xóa chức vụ này?</h3>
                                    </div>
                                    <div class="card-body">
                                        @*start row 1*@
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            @*<dt>
            @Html.Label("Tên công việc", new { @class = "fw-bold" }):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCongViec)
        </dd>*@
                                                            <div class="col-auto pr-0">
                                                                @Html.DisplayNameFor(model => model.TenCongViec)
                                                            </div>
                                                            <div class="col-auto pl-1">
                                                                @Html.DisplayFor(model => model.TenCongViec)
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-auto pr-0">
                                                                @Html.DisplayNameFor(model => model.MaCongViec)
                                                            </div>
                                                            <div class="col-auto pl-1">
                                                                @Html.DisplayFor(model => model.MaCongViec)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-auto pr-0">
                                                                @Html.DisplayNameFor(model => model.NgayTao)
                                                            </div>
                                                            <div class="col-auto pl-1">
                                                                @Html.DisplayFor(model => model.NgayTao)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-auto pr-0">
                                                                @Html.DisplayNameFor(model => model.NgayHoanThanhDuKien)
                                                            </div>
                                                            <div class="col-auto pl-1">
                                                                @Html.DisplayFor(model => model.NgayHoanThanhDuKien)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*end row 1*@

                                        @*start row 2*@
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-auto pr-0">
                                                                @Html.DisplayNameFor(model => model.PhongBanId)
                                                            </div>
                                                            <div class="col-auto pl-1">
                                                                @Html.DisplayFor(model => model.PhongBanId)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-auto pr-0">
                                                                @Html.DisplayNameFor(model => model.NguoiDungId)
                                                            </div>
                                                            <div class="col-auto pl-1">
                                                                @Html.DisplayFor(model => model.NguoiDungId)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-auto pr-0">
                                                                @Html.DisplayNameFor(model => model.NgayHoanThanhThucTe)
                                                            </div>
                                                            <div class="col-auto pl-1">
                                                                @Html.DisplayFor(model => model.NgayHoanThanhThucTe)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-auto pr-0">
                                                                @Html.DisplayNameFor(model => model.GhiChu)
                                                            </div>
                                                            <div class="col-auto pl-1">
                                                                @Html.DisplayFor(model => model.GhiChu)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*end row 2*@

                                        <div class="form-group text-center">
                                            <button type="button" class="btn btn-info">
                                                <a style="color:black;" href="@Url.Action("Index", "CongViec")">
                                                    <i class="ti-menu-alt">&nbsp;Xem DS</i>
                                                </a>
                                            </button>
                                            <button class="ml-2 btn btn-danger" type="submit" id="edit_ListLVB">
                                                <a style="color:black;" href="@Url.Action("Edit", "CongViec")">
                                                    <i class="ti-pencil-alt" value="Edit">&nbsp;Sửa</i>
                                                </a>   
                                            </button>
                                            <button class="ml-2 btn btn-danger" type="submit" id="delete_ListLVB">
                                                <a style="color:black;" href="@Url.Action("Delete", "CongViec")">
                                                    <i class="ti-trash" value="Delete">&nbsp;Xóa</i>
                                                </a>   
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /# card -->
                                </div>
                                <!-- /# column -->
                            </div>
                            <!-- /# row -->
                    </section>
                </div>
            </div>
        </div>
    </dl>
}