@model Do_An_CNPM.Models.DOITAC

@{
    ViewBag.Title = "DetailsCRUD";
}

<h2>DetailsCRUD</h2>

<div>
    <h4>DOITAC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDoiTac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDoiTac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_DOITAC_VANBANDEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_DOITAC_VANBANDEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_DOITAC_TRANGTHAIVANBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_DOITAC_TRANGTHAIVANBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_DOITAC_VANBANDI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_DOITAC_VANBANDI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCRUD", new { id = Model.ID_DOITAC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
