@model IEnumerable<Do_An_CNPM.Models.DOITAC>

@{
    ViewBag.Title = "ViewCRUD";
}

<h2>ViewCRUD</h2>

<p>
    @Html.ActionLink("Create New", "CreateCRUD")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDoiTac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhanLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_DOITAC_VANBANDEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_DOITAC_TRANGTHAIVANBAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_DOITAC_VANBANDI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDoiTac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhanLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_DOITAC_VANBANDEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_DOITAC_TRANGTHAIVANBAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_DOITAC_VANBANDI)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCRUD", new { id=item.ID_DOITAC }) |
            @Html.ActionLink("Details", "DetailsCRUD", new { id=item.ID_DOITAC }) |
            @Html.ActionLink("Delete", "DeleteCRUD", new { id=item.ID_DOITAC })
        </td>
    </tr>
}

</table>
