@model IEnumerable<Do_An_CNPM.Models.TRANGTHAIVANBAN>

@{
    ViewBag.Title = "ViewCRUD";
}

<h2>ViewCRUD</h2>

<p>
    @Html.ActionLink("Create New", "CreateCRUD")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_TRANGTHAIVANBAN_VANBANDEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_TRANGTHAIVANBAN_VANBANDI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_TRANGTHAIVANBAN_VANBANNOIBO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TRANGTHAIVANBAN_VANBANDEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TRANGTHAIVANBAN_VANBANDI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TRANGTHAIVANBAN_VANBANNOIBO)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCRUD", new { id=item.ID_TRANGTHAIVANBAN }) |
            @Html.ActionLink("Details", "DetailsCRUD", new { id=item.ID_TRANGTHAIVANBAN }) |
            @Html.ActionLink("Delete", "DeleteCRUD", new { id=item.ID_TRANGTHAIVANBAN })
        </td>
    </tr>
}

</table>
