@model IEnumerable<Do_An_CNPM.Models.LOAIVANBAN>

<p>
    @Html.ActionLink("Create New", "CreateCRUD")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiVanBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinhVucVanBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_LOAIVANBAN_VANBANDEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_LOAIVANBAN_VANBANDI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_LOAIVANBAN_VANBANNOIBO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiVanBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinhVucVanBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_LOAIVANBAN_VANBANDEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_LOAIVANBAN_VANBANDI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_LOAIVANBAN_VANBANNOIBO)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCRUD", new { id=item.ID_LOAIVANBAN }) |
            @Html.ActionLink("Details", "DetailsCRUD", new { id=item.ID_LOAIVANBAN }) |
            @Html.ActionLink("Delete", "DeleteCRUD", new { id=item.ID_LOAIVANBAN })
        </td>
    </tr>
}

</table>
