@model Do_An_CNPM.Models.QUYENHAN

@{
    ViewBag.Title = "DetailsCRUD";
}

<h2>DetailsCRUD</h2>

<div>
    <h4>QUYENHAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenQuyenHan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQuyenHan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_QUYENHAN_NGUOIDUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_QUYENHAN_NGUOIDUNG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCRUD", new { id = Model.ID_QUYENHAN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
