@model Do_An_CNPM.Models.Model.ModelChucVu

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "ChucVu", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <section id="main-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-title">
                                        <h4>Thêm chức vụ</h4>
                                    </div>
                                    <div class="card-body">
                                        @*start row 1*@
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.TenChucVu, htmlAttributes: new { @class = "control-label row-12" })
                                                        <div class="row-12">
                                                            @Html.EditorFor(model => model.TenChucVu, new { htmlAttributes = new { @class = "form-control", @name = "MaLVB" } })
                                                            @Html.ValidationMessageFor(model => model.TenChucVu, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.MaChucVu, htmlAttributes: new { @class = "control-label row-12" })
                                                        <div class="row-12">
                                                            @Html.EditorFor(model => model.MaChucVu, new { htmlAttributes = new { @class = "form-control", @name = "GCLVB" } })
                                                            @Html.ValidationMessageFor(model => model.MaChucVu, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        @*end row 1*@

                                        @*start row 2*@
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group ml-3 mr-3">
                                                    @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label row-12" })
                                                    <div class="row-12">
                                                        @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*end row 2*@

                                        <div class="form-group text-center">
                                            <button type="button" class="btn btn-info">
                                                <a style="color:black;" href="@Url.Action("Index", "ChucVu")">
                                                    <i class="ti-menu-alt">&nbsp;Xem DS</i>
                                                </a>
                                            </button>
                                            <button class="ml-2 btn btn-info" type="submit" id="save_ListLVB">
                                                <i class="ti-save">&nbsp;Tạo</i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /# card -->
                                </div>
                                <!-- /# column -->
                            </div>
                            <!-- /# row -->
                    </section>
                </div>
            </div>
        </div>
    </div>
}
