@*@model IEnumerable<Do_An_CNPM.Models.CHUCVU>*@
@model PagedList.IPagedList<Do_An_CNPM.Models.CHUCVU>
@using PagedList.Mvc;
@{
    ViewBag.Title = "GetPaging";
}

<h2>GetPaging</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("TenChucVu")
        </th>
        <th>
            @Html.Label("MaChucVu")
        </th>
        <th>
            @Html.Label("GhiChu")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<!-- Thêm mã phân trang -->
<br />
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Html.BeginForm("GetPaging", "ChucVu", FormMethod.Get))
        {
            <p>
                Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
            </p>
        }
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
        Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("GetPaging", new { page, size = ViewBag.currentSize }))
<!-- Kết thúc -->