@model Do_An_CNPM.Models.NGUOIDUNG

@{
    ViewBag.Title = "DetailsCRUD";
}

<h2>DetailsCRUD</h2>

<div>
    <h4>NGUOIDUNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_NGUOIDUNG_LOAIVANBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_NGUOIDUNG_LOAIVANBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_NGUOIDUNG_PHONGBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_NGUOIDUNG_PHONGBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_NGUOIDUNG_QUYENHAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_NGUOIDUNG_QUYENHAN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCRUD", new { id = Model.ID_NGUOIDUNG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
